<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset='UTF-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login/Signup</title>
		<link rel="icon" type="image/x-icon" href="static/images/icons/vetDoc.ico">
		<link rel="stylesheet" href="static/styles/main.css">
	</head>
	<body>
		<div class="pageTitle">
			<h2>Olngarua Agrovet</h2>
			<div>
				<h3>Your trusted partner for animal health products</h3>
			</div>
		</div>
		<div class="container">
			<div class="sidebar">
				<ul>
					<li><a href="#">Login</a></li>
					<li><a href="#">Signup</a></li>
					<li><a href="#">Settings</a></li>
					<li><a href="#">Theme</a></li>
				</ul>
			</div>
			<div class="login">
				<h2>Login</h2>
				<div id="credentials">
					<input type="text" name="username" placeholder="Username">
					<input type="password" name="password" placeholder="Password">
				</div>
				<input id="loginButton"  type="submit" value="login">
			</div>
		</div>
	</body>
</html>
